@using System.Globalization;
@model SoftInc.Auctions.Web.Models.ExtendedItemModel
@{
    /**/

    ViewBag.Title = "Bidding";
    var maxBid = Model.Biddings.OrderByDescending(x => x.Amount).FirstOrDefault()?.Amount ?? 0;
    var numBids = Model.Biddings?.Count;
    numBids = numBids.GetValueOrDefault(0);

    var bidderId = Session["bidderId"];
    var itmId = Model.Id;

    var fName = Session["Name"] ?? "Anonymous";

    var userLanguages = Request.UserLanguages;
    CultureInfo ci;
    if (userLanguages.Count() > 0)
    {
        try
        {
            ci = new CultureInfo(userLanguages[0]);
        }
        catch (CultureNotFoundException)
        {
            ci = CultureInfo.InvariantCulture;
        }
    }
    else
    {
        ci = CultureInfo.InvariantCulture;
    }

    //CultureInfo ci = new CultureInfo(UICulture);
    var symbol = ci.NumberFormat.CurrencySymbol;
}

<!-- Construct the box with style you want. Here we are using box-danger -->
<!-- Then add the class direct-chat and choose the direct-chat-* contexual class -->
<!-- The contextual class should match the box, so we are using direct-chat-danger -->
<div class="box box-danger direct-chat direct-chat-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Bidding - @Model.ItemName (Reserve Price @string.Format("{0:C}", Model.ReservePrice))</h3>
        <div class="box-tools pull-right">
            <span data-toggle="tooltip" title="@numBids bids" class="badge bg-red">@numBids</span>
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <!-- In box-tools add this button if you intend to use the contacts pane -->
            <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages" id="discussionLte">
        </div>
        <!--/.direct-chat-messages-->
        <!-- Contacts are loaded here -->
        <div class="direct-chat-contacts">
            <ul class="contacts-list">
                <li>
                    <a href="#">
                        <img class="contacts-list-img" src="~/admin-lte//img/user1-128x128.jpg" alt="Contact Avatar">
                        <div class="contacts-list-info">
                            <span class="contacts-list-name">
                                Count Dracula
                                <small class="contacts-list-date pull-right">2/28/2015</small>
                            </span>
                            <span class="contacts-list-msg">How have you been? I was...</span>
                        </div>
                        <!-- /.contacts-list-info -->
                    </a>
                </li>
                <!-- End Contact Item -->
            </ul>
            <!-- /.contatcts-list -->
        </div>
        <!-- /.direct-chat-pane -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <div class="input-group">
            <span class="input-group-addon">@symbol</span>
            <input type="number" name="bidAmt" placeholder="Bid amount ..." class="form-control" id="bidAmt">
            <span class="input-group-btn">
                <button type="button" id="sendbid" class="btn btn-danger btn-flat">Place Bid</button>
            </span>
        </div>
    </div>
    <!-- /.box-footer-->
    <input type="hidden" id="msgToggle" />
    <input type="hidden" id="fName" />
    <input type="hidden" id="bId" />
</div>
<!--/.direct-chat -->



@section scripts {
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        $(function () {
            $(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
                //this.value = this.value.replace(/[^0-9\.]/g,'');
                $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });

            var mTog = $('#msgToggle').val();
            var fName = $('#fName').val();
            var bid = $('#bId').val();
            var chat = $.connection.auctionHub;
            chat.client.addNewMessageToPage = function (name, bid) {
                $('#discussionLte').append("<div class=\"direct-chat-msg '" +mTog+"'><div class= 'direct-chat-info clearfix'><span class='direct-chat-name pull-left'>@ViewBag.User</span>"
                    + '<span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span></div ><img class= "direct-chat-img" src = "../../admin-lte/img/user1-128x128.jpg" alt = "message user image" >'
                    + '<div class= "direct-chat-text">' + bid + '</div ></div >')
            };

            $('#msgToggle').val() == '' ? $('#msgToggle').val('right') : $('#msgToggle').val('');

            $('#bidAmt').focus();
            //$.connection.hub.start().done(function () {
            //    $('#sendbid').click(function () {
            //        chat.server.send($('#displayname').val(), $('#bidAmt').val());
            //        $('#bidAmt').val('').focus();
            //    });
            //});
            $.connection.hub.start().done(function () {
                $('#sendbid').click(function () {
                    chat.server.bid('@fName', '@bidderId', '@itmId',  $('#bidAmt').val());
                    $('#bidAmt').val('').focus();
                });
            });
        });
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}

