@using System.Globalization;
@using SoftInc.Auctions.Web.Helpers;
@model SoftInc.Auctions.Web.Models.ExtendedItemModel
@{
    /**/

    ViewBag.Title = "Bidding";
    var maxBid = Model.Biddings.OrderByDescending(x => x.Amount).FirstOrDefault()?.Amount ?? 0;
    var numBids = Model.Biddings?.Count;
    numBids = numBids.GetValueOrDefault(0);

    var endDateTimeStr = Model.AuctionEndDate.GetValueOrDefault().Add(Model.AuctionEndTime.GetValueOrDefault()).ToString("yyyy/MM/dd H:mm:ss");

    var bidderId = Session["bidderId"];
    var itmId = Model.Id;

    var fName = Session["Name"] ?? "Anonymous";

    var userLanguages = Request.UserLanguages;
    CultureInfo ci;
    if (userLanguages.Count() > 0)
    {
        try
        {
            ci = new CultureInfo(userLanguages[0]);
        }
        catch (CultureNotFoundException)
        {
            ci = CultureInfo.InvariantCulture;
        }
    }
    else
    {
        ci = CultureInfo.InvariantCulture;
    }

    //CultureInfo ci = new CultureInfo(UICulture);
    var symbol = Extensions.CustomCultureInfo.NumberFormat.CurrencySymbol; // ci.NumberFormat.CurrencySymbol;
}

<!-- Construct the box with style you want. Here we are using box-danger -->
<!-- Then add the class direct-chat and choose the direct-chat-* contexual class -->
<!-- The contextual class should match the box, so we are using direct-chat-danger -->
<div class="box box-danger direct-chat direct-chat-danger">
    <div class="box-header with-border">
        <h3 class="box-title">
            Bidding - @Model.ItemName (Reserve Price @string.Format(Extensions.CustomCultureInfo, "{0:C}", Model.ReservePrice))
            <span id="maxAmt">Current top bid @string.Format(Extensions.CustomCultureInfo, "{0:C}", maxBid)</span>
        </h3>
        <div class="box-tools pull-right">
            <span data-toggle="tooltip" title="@numBids bids" class="badge bg-red">@numBids</span>
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <!-- In box-tools add this button if you intend to use the contacts pane -->
            <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages" id="discussionLte">
        </div>
        <!--/.direct-chat-messages-->
        <!-- Contacts are loaded here -->
        <div class="direct-chat-contacts col-sm-6">
            <ul class="contacts-list">
                <li>
                    <a href="#">
                        <img class="contacts-list-img" src="~/admin-lte//img/user1-128x128.jpg" alt="Contact Avatar">
                        <div class="contacts-list-info">
                            <span class="contacts-list-name">
                                Count Dracula
                                <small class="contacts-list-date pull-right">2/28/2015</small>
                            </span>
                            <span class="contacts-list-msg">How have you been? I was...</span>
                        </div>
                        <!-- /.contacts-list-info -->
                    </a>
                </li>
                <!-- End Contact Item -->
            </ul>
            <!-- /.contatcts-list -->
        </div>
        <!-- /.direct-chat-pane -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <div class="input-group">
            <span class="input-group-addon">@symbol</span>
            <input type="number" name="bidAmt" placeholder="Bid amount ..." class="form-control" id="bidAmt">
            <span class="input-group-btn">
                <button type="button" id="sendbid" class="btn btn-danger btn-flat">Place Bid</button>
            </span>
        </div>
    </div>

</div>
<!--/.direct-chat -->

<div class="row">
    <div class="col-md-12">
        <div id="imageCarousel" class="carousel slide multi-item-carousel">
            <div class="carousel-inner">
                @{int i = 0;}
                @foreach (var img in Model.ItemImages)
                {
                    i++;
                    var active = i == 1 ? "active" : "";
                    <div class="item @active">
                        <div class="col-xs-4">
                            <img class="img-responsive" src="@String.Format("data:image/png;base64,{0}", img.ImageString)" alt="Photo">
                        </div>
                    </div>
                }
            </div>
            <a class="left carousel-control" href="#imageCarousel" data-slide="prev">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </a>
            <a class="right carousel-control" href="#imageCarousel" data-slide="next">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        </div>
    </div>
</div>

<div class="panel panel-default" data-toggle="tooltip" data-placement="top">
    <div class="panel-heading">
        <h4 class="text-bold">Auction Ends In!</h4>
    </div>
    <!-- /.box-header -->
    <div class="panel-body">
        <div id="clock" class="lead text-bold text-blue"></div>
    </div>
</div>
<!-- /.box-footer-->
<input type="hidden" id="msgToggle" />
<input type="hidden" id="fName" />
<input type="hidden" id="bId" />



@section scripts {
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        $(function () {
            $(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
                //this.value = this.value.replace(/[^0-9\.]/g,'');
                $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });

            // Instantiate the Bootstrap carousel
            $('.multi-item-carousel').carousel({
                interval: false
            });

            // for every slide in carousel, copy the next slide's item in the slide.
            // Do the same for the next, next item.
            $('.multi-item-carousel .item').each(function () {
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                if (next.next().length > 0) {
                    next.next().children(':first-child').clone().appendTo($(this));
                } else {
                    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
                }
            });

            $('#clock').countdown('@endDateTimeStr').on('update.countdown', function (event) {
                var $this = $(this).html(event.strftime(''
                    //+ '<span>%-w</span> week%!w '
                    + '<span>%D</span> Days '
                    + '<span>%H</span> hr '
                    + '<span>%M</span> min '
                    + '<span>%S</span> sec'));
            });

            var mTog = $('#msgToggle').val();
            var fName = $('#fName').val();
            var bid = $('#bId').val();
            var chat = $.connection.auctionHub;
            chat.client.addNewMessageToPage = function (name, bid, maxAmt) {
                $('#discussionLte').append("<div class=\"direct-chat-msg '" + mTog + "'><div class= 'direct-chat-info clearfix'><span class='direct-chat-name pull-left'>@fName</span>"
                    + '<span class="direct-chat-timestamp pull-right">@DateTime.Now.ToString("r")</span></div ><img class= "direct-chat-img" src = "../../admin-lte/img/user1-128x128.jpg" alt = "message user image" >'
                    + '<div class= "direct-chat-text">' + bid + '</div ></div >');

                $('#maxAmt').text("Current top Bid:" + maxAmt);
            };

            $('#msgToggle').val() == '' ? $('#msgToggle').val('right') : $('#msgToggle').val('');

            $('#bidAmt').focus();
            //$.connection.hub.start().done(function () {
            //    $('#sendbid').click(function () {
            //        chat.server.send($('#displayname').val(), $('#bidAmt').val());
            //        $('#bidAmt').val('').focus();
            //    });
            //});
            $.connection.hub.start().done(function () {
                $('#sendbid').click(function () {
                    chat.server.bid('@fName', '@bidderId', '@itmId',  $('#bidAmt').val());
                    $('#bidAmt').val('').focus();
                });
            });
        });
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}

