@model SoftInc.Auctions.Web.Models.AuctionModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuctionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuctionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTimeSelected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTimeSelected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>
@if (Model.Items.Count > 0)
{
    <div>
        <table class="table">
            <tr>
                <th>Item</th>
                <th>Summary</th>
                <th>Reserve Price</th>
            </tr>
            @foreach (var itm in Model.Items)
            {
            <tr>
                <td>@itm.ItemName</td>
                <td>@itm.ItemSummary</td>
                <td>@itm.ReservePrice</td>
            </tr>
            }
        </table>
    </div>
}
<div class="row">
    <div class="col-xs-2">

        <button id="btnShowModal" type="button"
                class="btn btn-sm btn-default pull-left col-lg-11 button button4">
            Add Items
        </button>
        <div class="modal fade" tabindex="-1" id="itemsModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            ×
                        </button>
                        <h4 class="modal-title">Auction Items</h4>
                    </div>
                    @using (Html.BeginForm("AddItems", "AuctionManager", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.Id)
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.UnAuctionedItems, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.ListBoxFor(model => model.UnAuctionedItemsSelected, Model.UnAuctionedItems, new { @id = "itms", @class = "selectpicker form-control", title = "Item", @data_live_search="true" } )
                                @Html.ValidationMessageFor(model => model.UnAuctionedItems, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<select class="selectpicker" data-live-search="true" multiple>
                            @foreach (var itm in Model.AuctionItems)
                            {
                                <option value="@itm.Value">@itm.Text</option>
                            }
                        </select>*@
                    </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary button button4">Save</button>
                            <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                                Hide
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnShowModal").click(function () {
                $("#itemsModal").modal('show');
            });

            $("#btnHideModal").click(function () {
                $("#itemsModal").modal('hide');
            });
        });
    </script>
}
